<!-- <div class=" card-body"> -->
  
<div class=" d-flex justify-content-around">

  <div class=" p-2 pl-3 pt-4 col-md-8">
    <div class=" bg-white pt-4 pb-4">
      <table class=" table table-bordered table-sm">
        <colgroup>
          <colgroup>
            <col style="width:20%;">
            <col style="width:20%">
            <col style="width:20%">
            <col style="width:20%">
            <col style="width:20%">
          </colgroup>
        </colgroup>
        
        <thead class=" bg-light" >
          <tr style=" font-size: 22px;  " >
            <th>Item Name</th>
            <th>Price </th>
            <th>Quantity</th>
            <th>Disc %</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>Apple</td>
            <td>999</td>
            <td>8</td>
            <td>10%</td>
            <td>1000</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class=" col-md-4 ">

    <div class=" bg-white mt-4 p-2 pt-4">
      <!-- <i class="pi pi-check"></i>
      <i class="pi pi-check" style="font-size: 3em"></i>
      <i class="pi pi-user-plus" style="font-size: 3em"></i> -->
      <input class=" p-2 col-md-10" placeholder="Type Customer Name (Required )" />
    </div>

    <div class=" bg-white mt-4 p-2  ">
      <div class=" d-flex justify-content-between p-2">
        <h4>Sale Person</h4>
        <h4 class=" text-primary">John Doe</h4>
      </div>
      <div class=" d-flex justify-content-between p-2">
        <span class=" font-size-0">Discount all items by Percent</span>
        <span class=" ">Set discount</span>
      </div>
      <div class=" d-flex justify-content-between p-2">
        <span class=" font-size-0">Discount Entire Sale:</span>
        <span class=" ">Set discount</span>
      </div>
      <div class=" d-flex justify-content-between p-2 bg-light">
        <span class=" font-size-0">Sub Total: [Edit Taxes]</span>
        <span class=" ">$0.00</span>
      </div>
    </div>
    <div class=" d-flex bg-white">
      <div class="col-md-6 border">
        <h3>Total</h3>
        <h3 class=" text-success text-center">$900</h3>
      </div>
      <div class=" border col-md-6">
        <h3>Amount Due</h3>
        <h3 class=" text-warning text-center">$900</h3>
      </div>
    </div>
    <div class=" flex-column d-flex">
      <label>Payment Currency</label>
      <select class=" ml-2 mr-2 border pl-2" style="height: 50px;">
        <option hidden>USD</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>

  </div>
</div>
<!-- </div>  -->