<form id="addform" class=" mt-4">
  <!-- <div class="row justify-content-between">
    <div class="form-group col-md-6">
      <label>ID</label>
      <input type="text" class="form-control form-control-sm " name="name" ngModel>
    </div>
    <div class="form-group col-md-6">
      <label>Product ID</label>
      <input type="text" class="form-control form-control-sm " name="name" ngModel>
    </div>
  </div> -->
  <div class="row justify-content-between">
    <div class="form-group col-md-6">
      <label>Cost Price </label>
      <input type="text" class="form-control form-control-sm" name="brand" ngModel>
    </div>
    <div class="form-group col-md-6">
      <label>Selling Price</label>
      <input type="number" class="form-control form-control-sm " name="quantity" ngModel>
    </div>
  </div>
  <!-- <div class="row justify-content-between">
    <div class="form-group col-md-6">
      <label>Promotion</label>
      <input type="text" class="form-control form-control-sm" name="brand" ngModel>
    </div>
    <div class="form-group col-md-6">
      <label>Price Rule</label>
      <input type="text" class="form-control form-control-sm" name="brand" ngModel>
    </div>
  </div> -->
  <div class="row justify-content-between">
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-block yello mt-4  btn-danger"> Submit </button>
    </div>
  </div>
</form>