<!-- <app-todo-item *ngFor="let todo of todos" [todo]="todo" > -->
<!-- </app-todo-item> -->
<div style="padding: 30px;">
    <input class="SearchMovie" placeholder="Movie Name" [(ngModel)]="MovieInput" />
    <button (click)="SearchClicked()" class="searchBtn">Search</button>
</div>
<div *ngIf="SearchResults">
    <div class="HeaderTop ">Search Results</div>
    <div class="SearchResults">
        <div routerLink='/MovieDetailsComponent'>
            <div style="flex-direction: row; display: flex; padding-left: 5px;">
                <h2> Move Name : </h2>
                <h2 style="padding-left: 10px;"> {{SearchResults.Title}}</h2>
            </div>
            <div style="flex-direction: row; display: flex; padding-left: 5px">
                <h2> Year :</h2>
                <h2 style="padding-left: 10px;"> {{SearchResults.Year}}</h2>
            </div>
        </div>
    </div>
</div>
<div class="HeaderTop header-nav bg-aqua h-25 w-100 border-black font-weight-bold">List Of Movies</div>
<div *ngFor="let episode of episodes">
    <div omData="omData" routerLink='/MovieDetailsComponent' (click)="navigateToDetailsPage()" class="moviesTitle">
        {{episode.Title}}
    </div>
</div>