
<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand">The Budget Mart</a>


  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/sales">Sale</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLinkActive="active" routerLink="/addProduct">Product List </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home/order/order-list">Order List</a>
      </li>


    </ul>
    <ul class="float-right mr-5 logout">
      <li> <a class="nav-link "><i class="fas fa-sign-out-alt"></i></a> </li>
    </ul>
  </div>
</nav>
<!-- <div class=" bg-aqua" style="background-color: aqua;">
  <ul style="display: flex;">
    <a class="nav-link" routerLinkActive="active" routerLink="/home/dashboard">Dashboard</a>
    <a class="nav-link" routerLinkActive="active" routerLink="sales">Sale</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/addProduct">Product List </a>
    <a class="nav-link" routerLinkActive="active" routerLink="/home/order/order-list">Order List</a>
  </ul>
</div> -->
<p-toast position="top-right"></p-toast>
<router-outlet></router-outlet>