<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-9">

      <div>
        <tabset>
          <tab heading="PRODUCT DETAILS" id="tab1"><app-item-info></app-item-info></tab>
          <tab heading="VARIATIONS"><app-variations></app-variations></tab>
          <tab heading="PRICING"><app-pricing></app-pricing></tab>
          <tab heading="INVENTORY"><app-inventory></app-inventory></tab>
          <tab heading="IMAGES">Basic content 2</tab>
          <tab heading="LOCATIONS">Basic content 2</tab>
        </tabset>
      </div>

    </div>
  </div>
</div>