<form id="addform" class=" mt-4" [formGroup]="variationsForm">
 
  <div class="row justify-content-between">
    <!-- <div class="form-group col-md-6">
      <label>ID</label>
      <input type="text" class="form-control form-control-sm " formControlName="productId">
    </div> -->
    <div class="form-group col-md-6">
      <label>Detail</label>
      <input type="text" class="form-control form-control-sm " formControlName="details">
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="form-group col-md-6">
      <label>Color</label>
      <input type="text" class="form-control form-control-sm" formControlName="color">
    </div>
    <div class="form-group col-md-6">
      <label>Size</label>
      <input type="number" class="form-control form-control-sm " formControlName="size">
    </div>
  </div>
  <!-- <div class="row justify-content-between">
    <div class="form-group col-md-6">
      <label>Product Id (FK)</label>
      <input disabled type="text" class="form-control form-control-sm">
    </div>
  </div> -->
  <div class="row justify-content-between">
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-block mt-4 border bg-danger text-white" (click)="submitVaritaions()"> Submit
      </button>
    </div>
  </div>
</form>